@import url('default.css');

div.body a {
  color: #E1884D;
  text-decoration: underline;
}
div#header {
}
div.related {
  float: left;
}

/* 上部のナビバー */
#globalnavi{
  margin: 0;
  padding: 0;
}
#globalnavi ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: black;
}
#globalnavi li{
  width: 120px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#globalnavi a{
  text-align: center;
  padding: 0.4em 0;
  width: 100%;
  background-color: black;
  color: white;
  display:block;
}
#globalnavi a:hover{
  background-color: red;
  color: white;
}

/* body */
/* リンクの文字色とアンダーライン */
div.body a {
  color: rgb(53,  95,  124);
  text-decoration: underline;
}
/* 強調文字色 */
strong {
  color: #ff0000;
}

/* すべてのテーブル */
/* テーブルの色、境界線の設定 */
table.docutils {
  border: solid;
  border-collapse: collapse;
  border-width: thin;
}
table.docutils th {
  border: solid;
  border-width: thin;
  border-bottom-width: 2px;
}
table.docutils td {
  border: solid;
  border-collapse: collapse;
  border-width: 1px;
}
